.contact {
    // height: 80vh;
    // position: relative;
    // top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 4% 0 4%;
}


form {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;

}

.form-container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    width: 100%;
}

.form-container input,
.form-container textarea {
    border-radius: 20px;
    padding: 10px;
}

.form-container textarea {
    height: 20vh;
}

// spinner
#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid $spinner;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}